<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-16">
    <title>admin console</title>
</head>
<body>
<form action="/admin/create" method="POST">
    <button>add user/admin</button>
    <input type="text" name="email" placeholder="email">
    <input name="firstName" type="text" placeholder="firstname">
    <input name="lastName" type="text" placeholder="lastname">
    <input name="password" type="password" placeholder="password">
    <select multiple = "multiple" name="roles">
            <option th:each="role : ${roles}" th:value="${role.authority}" th:text="${role.authority}"></option>
    </select>
</form>
<table border="1">
    <caption>list users in database</caption>
    <tr>
        <th> id</th>
        <th> FirstName</th>
        <th> LastName</th>
        <th> HashPassword</th>
        <th> Role</th>
        <th> Update</th>
        <th> Delete</th>
    </tr>
        <tr th:each = "user : ${users}">
            <th th:text="${user.id}"> </th>
            <th th:text="${user.firstName}"></th>
            <th th:text="${user.lastName}"></th>
            <th th:text="${user.password}"></th>
            <th th:text="${user.authorities}"></th>
            <th>
                <form action="/admin/update" method="GET">
                    <button name="ok">press</button>
                    <input name="id" type="hidden" placeholder="firstname" th:value=${user.id}>
                </form>
            </th>
            <th>
                <form action="/admin/delete" method="POST">
                    <button name="ok">press</button>
                    <input name="id" type="hidden" placeholder="firstname" th:value=${user.id}>
                </form>
            </th>
        </tr>
</table>
</body>
</html>